/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



header, main, footer {
	max-width: 1024px;
	margin: 0 auto;
	background-image: url(../img/circles.png);
}

.logo-container {
	background: #ffffff;
}

.menu {
	color: black;
	background-color: #85C1E9;
	padding: 5px;
	margin: 0;
	height: 37px;
	text-align: left;
	flex-wrap: nowrap;


}

@font-face {
	font-family: "quicksand";
	src: url("https://www.fontsquirrel.com/fonts/Quicksand"); 
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
	background-color: #85C1E9;
}

li {
	float: left;
}



li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


h1 {
	text-align: left;
	color: #85C1E9;
	font-size: 22px;
	padding: 10px;
}

.main-content {
	padding: 25px;
}

.img-1 {
	float: right; 
	padding-right: 10px;


}

h2 {
	text-align: left;
	color: #85C1E9;
	font-size: 22px;
	padding: 10px;
}

.schedule-table {
	text-align: center;
	padding: 15px;

}

table, td, th {
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid black;
	padding: 15px;


}

th {
	color: #85C1E9;
}


tr:nth-child(even) { background: #F0FFFF;}

h3 {
	text-align: left;
	color: #85C1E9;
	font-size: 22px;
	padding: 10px;
}

.col-form {
	padding: 15px;
	display: inline-block;
	width: 90%;
	padding: 12px 20px;
	margin: 8px;
	box-sizing: border-box;


}

h4 {
	text-align: center;
	color: #85C1E9;
	font-size: 22px;
}



.profile {
	display: inline-block;
	float: right; clear: right;
	text-align: center;
	width: 50%;
	height: 300px;
	padding: 20px;
	font-size: 16px;
	margin: 10px; 	
	
 
}


.footer {
	background-color: #686666;
	color: #FFFFFF;
	width: 100%;
	height: 247px;


}


h5{
	padding: 10px;

}

h6{
	float: right; clear: right;

}

.address{
	float: right;
	padding: 10px;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;

}









